$color1: black;
$color2: darkolivegreen;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .bg-image {
        background-image: url('../assets/img/main.jpg');
        background-size: cover;
        min-height: 100vh;
        min-width: 100vw;
        color: $color1;
        text-shadow: 2px 2px 2px $color1;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;


        > * {
            display: flex;
            font-family: 'Poppins' sans-serif;
            justify-content: center;
            align-items: center;
            position: absolute;
            }
    
        .box {
          padding: 1rem;
          flex-direction: column;
                            
          border-radius: 15px;
          background-color: $color1;
          opacity: 85%;
          width: 38vw;
          height: 50vh;
          
            .logo {
                height: 20vh;
            }
        
            h1{
                font-size: 3rem;
            }
        
            p {
                font-size: 1.25rem;
            }
        }
        
    }
}

@media (min-width: 30em) and (max-width: 50em) {
    .container {
        .bg-image {
            .box {
                height: 50vh;
                width: 60vw;
            }
            .logo {
                height: 12vh;
            }
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: .75rem;
            }
        }
    }
}